* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile styles */
@media screen and (max-width: 400px) {

}

/* Table Styles */
@media screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media screen and (min-width: 961px) {
  
}

