@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Mobile styles */
@media screen and (max-width: 400px) {
    header .container {
        width: 393px;
        height: 70px;
        padding: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 131px;
    }

    .logo {
        width: 200px;
        height: 32px;
    }

    .menu-icon {
        height: 24px;
        width: 24px;
        margin-right: 23px;
    }

    .main-nav {
        display: none;
    }

    #overlay {
        background-color: rgba(16, 16, 16, 0.90);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .overlay-nav ul a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }

    .overlay-nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .close-icon {
        color: #fff;
        position: absolute;
        top: 25px;
        right: 30px;
    }

    #contact {
        font-family: Roboto;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 20px 35px;
    }

    .overlay-nav li:not(:last-child) {
        margin-bottom: 32px;
    }

    .overlay-nav li:last-child {
        margin-top: 20px;
        height: 64px;
        width: 225px;
    }

     /* Hero section */
    .hero-container {
        width: 393px;
        height: 400px;
        background-image: url("../images/hero_image.png");
        background-size: contain;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: end;
    }

    .hero-content {
        width: 393px;
        height: 132px;
        background: rgb(255, 255, 255, 0.76);
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-content > p {
        color: #2e5180;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .jobs {
        width: 263px;
        height: 30px;
        color: #000;
        text-align: center;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
    }

    /* About Us Section */
    .about-us {
        width: 393px;
        height: 212px;
        background: #2e5180;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-content {
        color: #fff;
        text-align: center;
    }

    .why > p {
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 18px;
    }

    .learn > p {
        width: 282px;
        height: 90px;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        font-style: normal;
    }

    /* Choose Us Section */
    .choose-us {
        width: 393px;
        height: 1514px;
    }

    .choose-us-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partner > p {
        width: 280px;
        height: 46px;
        color: #2e5180;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 47px;
    }

    .system > p {
        width: 287px;
        height: 36px;
        font-size: 0.9rem;
        font-weight: 300;
        text-align: center;
        margin-top: 14px;
    }
}

/* Table Styles */
@media screen and (min-width: 401px) and (max-width: 960px) {
    header .container {
        width: 834px;
        height: 70px;
        padding: 19px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 200px;
        height: 32px;
    }

    .menu-icon {
        height: 24px;
        width: 24px;
    }

    .main-nav {
        display: none;
    }

    #overlay {
        background-color: rgba(16, 16, 16, 0.90);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .overlay-nav ul a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }

    .overlay-nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .close-icon {
        color: #fff;
        position: absolute;
        top: 25px;
        right: 100px;
    }

    #contact {
        font-family: Roboto;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 20px 35px;
    }

    .overlay-nav li:not(:last-child) {
        margin-bottom: 32px;
    }

    .overlay-nav li:last-child {
        margin-top: 20px;
        height: 64px;
        width: 225px;
    }

}

/* Desktop Styles */
@media screen and (min-width: 961px) {
  
}

