@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Mobile styles */
@media screen and (max-width: 400px) {
    header .container {
        width: 393px;
        height: 70px;
        padding: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 131px;
    }

    .logo {
        width: 200px;
        height: 32px;
    }

    .menu-icon {
        height: 24px;
        width: 24px;
        margin-right: 23px;
    }

    .main-nav {
        display: none;
    }

    #overlay {
        background-color: rgba(16, 16, 16, 0.90);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .overlay-nav ul a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }

    .overlay-nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .close-icon {
        color: #fff;
        position: absolute;
        top: 25px;
        right: 30px;
    }

    #contact {
        font-family: Roboto;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 20px 35px;
    }

    .overlay-nav li:not(:last-child) {
        margin-bottom: 32px;
    }

    .overlay-nav li:last-child {
        margin-top: 20px;
        height: 64px;
        width: 225px;
    }

     /* Hero section */
    .hero-container {
        width: 393px;
        height: 400px;
        background-image: url("../images/hero_image.png");
        background-size: contain;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: end;
    }

    .hero-content {
        width: 393px;
        height: 132px;
        background: rgb(255, 255, 255, 0.76);
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-content > p {
        color: #2e5180;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .jobs {
        width: 263px;
        height: 30px;
        color: #000;
        text-align: center;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
    }

    /* About Us Section */
    .about-us {
        width: 393px;
        height: 212px;
        background: #2e5180;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-content {
        color: #fff;
        text-align: center;
    }

    .why > p {
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 18px;
    }

    .learn > p {
        width: 282px;
        height: 90px;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        font-style: normal;
    }

    /* Choose Us Section */
    .choose-us {
        width: 393px;
        height: 1514px;
    }

    .choose-us-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partner > p {
        width: 280px;
        height: 46px;
        color: #2e5180;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 40px;
    }

    .system > p {
        width: 287px;
        height: 36px;
        font-size: 0.9rem;
        font-weight: 300;
        text-align: center;
        margin-top: 14px;
    }

    .instructor-image,
    .real-world-image,
    .career-image {
        width: 300px;
        height: 186px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    figcaption {
        width: 300px;
        height: 21px;
        margin: 0 auto;
        color: #2e5180;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }

    figcaption + p {
        width: 308px;
        height: 54px;
        text-align: center;
        margin: 0 auto;

        font-size: 0.9rem;
        font-style: normal;
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .button-container {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    button {
        width: 178px;
        height: 36px;
        color: #fff;
        text-align: center;

        border-radius: 50px;
        background-color: #2e5180;
        border-color: #2e5180;
    }

    button:hover {
        cursor: pointer;
    }

    /* Contact Us Section */
    .contact-us-container {
        width: 393px;
        height: 612px;
        background-color: #F7F7F7;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .first-paragraph {
        color: #2e5180;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .contact-content {
        width: 282px;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 300;
    }

    .form-container {
        width: 317px;
        height: 320px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input,
    textarea {
        display: block;
    }

    input {
        width: 317px;
        height: 36px;
        border: 1px solid #CDD6DD;
        color: #8B8B8B;
        font-size: 0.9rem;
        text-indent: 10px;
    }

    textarea {
        width: 317px;
        height: 159px;
        border: 1px solid #CDD6DD;
        color: #8B8B8B;
        font-family: Roboto;
        text-indent: 10px;
        text-justify: auto;
        font-size: 0.9rem;
        line-height: 40px;
    }

    #btn {
        width: 317px;
        height: 36px;
        border-radius: 50px;
    }

    /* Footer section */
    .footer-container {
        width: 393px;
        height: 291px;
        background: rgba(46, 81, 128, 0.80);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .map-pin,
    .phone {
        color: #F7F7F7;
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: 0.9rem;
    }

    .map-pin > i {
        width: 20px;
        height: 20px;
    }

    .social-media-icons {
        width: 200px;
        color: #F7F7F7;
        
        display: flex;
        justify-content: space-around;
    }

}

/* Table Styles */
@media screen and (min-width: 401px) and (max-width: 960px) {
    header .container {
        width: 834px;
        height: 70px;
        padding: 19px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 200px;
        height: 32px;
    }

    .menu-icon {
        height: 24px;
        width: 24px;
    }

    .main-nav {
        display: none;
    }

    #overlay {
        background-color: rgba(16, 16, 16, 0.90);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .overlay-nav ul a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
    }

    .overlay-nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .close-icon {
        color: #fff;
        position: absolute;
        top: 25px;
        right: 100px;
    }

    #contact {
        font-family: Roboto;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 20px 35px;
    }

    .overlay-nav li:not(:last-child) {
        margin-bottom: 32px;
    }

    .overlay-nav li:last-child {
        margin-top: 20px;
        height: 64px;
        width: 225px;
    }

}

/* Desktop Styles */
@media screen and (min-width: 961px) {
    header .container {
        height: 130px;
        margin: 0 auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 200px;
    }

    .menu-icon {
        display: none;
    }

    .logo img {
        width: 300px;
        height: 60px;
    }

    .nav-list {
        width: 600px;
        height: 68px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .nav-list > li > a:last-child {
        color: #000;
        font-size: 30px;
    }

    #contact1 {
        width: 225px;
        height: 64px;
        border: 2px solid #2e5180;
        border-radius: 45px;
        padding: 15px;
    }

    #overlay {
        display: none;
    }

    /* Hero Section */
    .hero-container {
        height: 968px;
        background-image: url(../images/hero_image.png);
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: end;
        
    }

    .hero-content {
        width: 100vw;
        height: 284px;
        background: rgb(255, 255, 255, 0.76);
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-content > p {
        width: 630px;
        height: 36px;
        color: #2e5180;
        font-size: 30px;
        font-weight: 500;
    }

    .jobs {
        width: 700px;
        height: 56px;
        color: #000;
        text-align: center;
        font-size: 26px;
        font-weight: 300;
    }

}

